.navbar {
    display: flex;
    align-items: center;
    position: fixed; /* Changed to fixed */
    top: 0;
    left: 0;
    width: 98%;
    height: 80px; 
    z-index: 1000; /* Higher z-index to stay on top */
    padding: 0 20px;
    background-color: #021554; /* Semi-transparent background */
  
}

.navbar .img {
    margin-right: auto;
}

.navbar .img img {
    height: 80px; 
    width: auto;
    cursor: pointer;
}

.navbar .signup, .navbar .signin {
    margin-left: 20px;
}

button {
    outline: none;
    border: none;
    background-color: #ffa857;
    width: 12vh;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    height: 30px; 
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #fc993c;
}