<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Success</title>
</head>
<body>
    <h2>Registration Successful!</h2>
    <p>Click <a href='/login'>here</a> to login.</p>
</body>
</html>
